body {
    background: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

* {
    scroll-behavior: smooth;
    color: white;
}

main {
    padding: 12px 48px;
    width: 85%;
    display: flex;
    flex-direction: column;
    margin: auto 0 auto auto;
}

aside {
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 2rem;
    top: 3rem;
}

.top {
    margin-top: 1rem;
    padding: .25rem 3rem .25rem 1rem;
}

.top:hover {
    background: gray;
}

aside ul {
    list-style: none;
    padding: 0 1rem;
}

aside ul li {
    padding: .25rem 2rem .25rem .25rem;
    margin-top: .25rem;
}

aside a {
    text-decoration: none;
    margin-left: 1rem;
}

aside li:hover {
    background: gray;
}

.color-container {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin: 16px;
    color: black;
}

.color-container span {
    padding: 8px;
    color: black;
    width: 80px;
    text-align: center;
}

.i-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: rgba(128, 128, 128, 0.6);
    padding: 8px 16px;
}

.i-container span {
    padding: 8px;
    margin: 8px;
    gap: .5rem;
    display: flex;
    flex-wrap: wrap;
    width: 150px;
    align-items: center;
    border: 2px solid black;
}

.i-container span:hover {
    transform: scale(120%);
    background: rgb(54, 66, 66);
    transition: .6s;
    cursor: default;
}

.i-container span img {
    height: 24px;
    margin: 4px 4px;
}

footer {
    padding: 1.5rem;
    text-align: center;
}

@media screen and (max-width: 1000px) {
    aside {
        top: 0;
        left: -11rem;
        padding: 2rem;
        background: rgba(255, 255, 255, 0.5);
        transition: .6s;
    }
    aside:hover {
        left: 0;
        position: sticky;
        background: black;
        transition: .6s;
    }
}