.icon {height:24px;padding:0 8px}
.color-container{display:flex;flex-wrap:wrap;gap:12px;margin:16px;}
.color-container span {padding:8px;color:black;width:80px;text-align:center;}
.icon-container {display:flex;background:gray;padding-left:16px;padding-top:8px;}
.icon-container span {padding:8px;display:flex;flex-wrap:wrap;width:100px;align-items:center;border:2px solid black;}